<?xml version="1.0" encoding="UTF-8"?>
<object class="Robot" serializationversion="2">
  <prologue>
    <saved-by-versions>
      <version>11.3.0.1</version>
    </saved-by-versions>
    <file-type>robot</file-type>
    <referenced-types />
    <triggers />
    <sub-robots />
    <device-mappings />
    <comment />
    <tags />
    <referenced-snippets />
    <typed-variables>
    {% for complexVar in complexVariables %}
          <typed-variable name={{complexVar.name}} type-name={{complexVar.name}}/>
     {% endfor %}
    </typed-variables>
    <parameters />
    <return-variables />
    <store-in-database-variables />
    <browser-engine>WEBKIT</browser-engine>
  </prologue>
  <!--
    {% set type_ids = {
  'excel': 150,
  'integer': 7,
  'short_text': 12,
  'number': 4
} %}
  -->
  <property name="variables" class="Variables">
  {% for var in variables %}
    <object class="Variable" serializationversion="1">
      <property name="name" class="String" id="{{ var.id }}">{{ var.name }}</property>
      <property name="initialAssignment" class="InitialVariableAssignment">
        {% if var.is_complex %}
        <property name="type" class="TypeReference" serializationversion="0">
          <property name="typeName" class="String">{{ var.type_name }}</property>
        </property>
        {% else %}
        <property name="type" class="SimpleTypeReference">
          <property name="simpleTypeId" class="Integer">{{ var.type_id }}</property>
        </property>
        {% endif %}
      </property>
    </object>
  {% endfor %}
  </property>

  <property name="proxyServerConfiguration" class="ProxyServerConfiguration"
    serializationversion="0" />
  <property name="httpClientType" class="HttpClientType">
    <property name="enum-name" class="String">WEBKIT</property>
  </property>
  <property name="ntlmAuthentication" class="NTLMAuthenticationType">
    <property name="enum-name" class="String">STANDARD</property>
  </property>
  <property name="usePre96DefaultWaiting" class="Boolean" id="1">false</property>
  <property name="maxWaitForTimeout" class="Integer">10000</property>
  <property name="waitRealTime" idref="1" />
  <property name="privateHTTPCacheEnabled" class="Boolean" id="2">true</property>
  <property name="privateHTTPCacheSize" class="Integer">2048</property>
  <property name="comment">
    <null />
  </property>
  <property name="tags" class="RobotTagList" />
  <property name="humanProcessingTime">
    <null />
  </property>
  <property name="executionMode" class="ExecutionMode">
    <property name="enum-name" class="String">FULL</property>
  </property>
  <property name="avoidExternalReExecution" idref="1" />

  <property name="transitionGraph" class="Body">
    <blockBeginStep class="BlockBeginStep" id="block_begin" />
    <steps class="ArrayList"> {% for step in steps %} {% if step.step_action is defined and
      step.step_action.class == "AssignVariable" %} <object class="Transition"
        serializationversion="3" id="{{ step.id }}">
        <property name="name" class="String">{{ step.name }}</property>
        <property name="stepAction" class="AssignVariable" serializationversion="4"> <!-- Use
          dictionary to reduce mismatch? --> {%if
      step.step_action.assignment_type == "expression"%} <property name="stringExpr"
            class="Expression" serializationversion="1">
            <property name="text" class="String">{{ step.step_action.value }}</property>
          </property>
      {% elif step.step_action.assignment_type == "value" %} <property name="stringExpr"
            class="kapow.robot.plugin.common.support.expression.stringexpr.ValueStringExpression">
            <property name="text" class="String">{{ step.step_action.value }}</property>
          </property>
      {% elif step.step_action.assignment_type == "converters" %} <property name="stringExpr"
            class="kapow.robot.plugin.common.support.expression.multipletype.StringProcessorsExpression">
            <property name="dataConverters" class="DataConverters">
              {% for converter in converters %}
              {{converter(converter.type, converter.value)}}
              {% endfor %}
            </property>
          </property>
      {% endif %} </property>
        <property name="elementFinders" class="ElementFinders" />
        <property name="errorHandler" class="ErrorHandler" serializationversion="0" />
        <property name="comment">
          <null />
        </property>
        <property name="enabled" class="Boolean">{{step.enabled}}</property>
        <property name="changedProperties" class="java.util.HashSet" />
      </object> {% endif %}
      {% if step.class == "End" %} <object class="End" id="{{ step.id }}" /> {% endif %} {% if
      step.step_action is defined and step.step_action.class == "OpenVariable" %} <object
        class="Transition" serializationversion="3" id="{{ step.id }}">
        <property name="name" class="String">{{ step.name }}</property>
        <property name="stepAction"
          class="OpenVariable">
          <property name="variable" class="kapow.robot.plugin.common.support.AttributeName2"> {% if
      step.step_action.variable.idref %} <property name="name"
              idref="{{ step.step_action.variable.idref }}" /> {% else %} <property name="name"
              class="String">{{ step.step_action.variable.name }}</property> {% endif %} </property>
        </property>
        <property
          name="elementFinders" class="ElementFinders" />
        <property name="errorHandler"
          class="ErrorHandler" serializationversion="0" />
        <property name="comment">
          <null />
        </property> {% if step.enabled_idref %} <property name="enabled"
          idref="{{ step.enabled_idref }}" /> {% else %} <property name="enabled" class="Boolean">{{
      step.enabled }}</property> {% endif %} <property name="changedProperties"
          class="java.util.HashSet" />
      </object> {% endif %} {% if step.step_action is defined
      and step.step_action.class == "CallRobot2Step" %} <object class="Transition"
        serializationversion="3" id="{{ step.id }}">
        <property name="name" class="String">{{ step.name }}</property>
      <property name="stepAction"
          class="CallRobot2Step" serializationversion="0">
          <property name="robot2Name" class="String">{{ step.step_action.robot2_name }}</property>
          <property name="returnVariables" class="ReturnVariableBeanList"> {% for rv in
      step.step_action.return_variables %} <object
              class="kapow.robot.plugin.common.stepaction.rl2.ReturnVariable">
              <property name="attributeName"
                class="kapow.robot.plugin.common.support.AttributeName2"> {% if rv.idref %} <property
                  name="name" idref="{{ rv.idref }}" /> {% else %} <property name="name"
                  class="String">{{ rv.name }}</property> {% endif %} </property>
            </object>
      {% endfor %} </property>
        </property>
      <property name="elementFinders"
          class="ElementFinders" />
      <property name="errorHandler" class="ErrorHandler"
          serializationversion="0">
          <property name="reportingViaAPI" class="Boolean">{{ step.error_handler.reporting_via_api |
      default(false) | lower }}</property>
        <property name="reportingViaLog" class="Boolean">{{
      step.error_handler.reporting_via_log | default(false) | lower }}</property> {% if
      step.error_handler.control_flow %} <property name="controlFlow"
            class="{{ step.error_handler.control_flow }}" /> {% endif %} </property>
      <property
          name="comment"> {% if step.comment is not none %} <property name="comment" class="String">{{
      step.comment }}</property> {% else %} <null /> {% endif %} </property> {% if
      step.enabled_idref %} <property name="enabled" idref="{{ step.enabled_idref }}" /> {% else %} <property
          name="enabled" class="Boolean">{{ step.enabled | lower }}</property> {% endif %} <property
          name="changedProperties" class="java.util.HashSet" />
      </object> {% endif %} {% if
      step.step_action is defined and step.step_action.class == "ExtractCell" %} <object
        class="Transition" serializationversion="3" id="{{ step.id }}">
        <property name="name" class="String">{{ step.name }}</property>
        <property name="stepAction" class="ExtractCell" />
        <property name="elementFinders" class="ElementFinders">
          <object class="ExcelElementFinder"> {% if step.element_finders.type == "specified_range"
      %} <property name="detail" class="SpecifiedRangeCellFinderDetail">
              <property name="range"
                class="kapow.robot.plugin.common.support.expression.stringexpr.ValueStringExpression">
                <property name="value" class="String">{{ step.element_finders.range }}</property>
              </property>
              <property name="usage" class="CellFromRange"> {% if step.element_finders.column_type
      == "by_index" %} <property name="columnId" class="ByIndexExcelColumnId">
                  <property name="offset"
                    class="kapow.robot.plugin.common.support.expression.integerexpr.ValueIntegerExpression">
                    <property name="value" class="Integer">{{ step.element_finders.column_value }}</property>
                  </property>
                </property>
      {% elif step.element_finders.column_type == "by_header" %} <property name="columnId"
                  class="ByHeaderExcelColumnId">
                  <property name="headerPattern"
                    class="kapow.robot.plugin.common.support.expression.stringexpr.PatternValueStringExpression">
                    <property name="value" class="String">{{ step.element_finders.column_value }}</property>
                  </property>
                </property>
      {% endif %} {% if step.element_finders.row_type == "by_index" %} <property name="rowId"
                  class="ByIndexExcelRowId">
                  <property name="offset"
                    class="kapow.robot.plugin.common.support.expression.integerexpr.ValueIntegerExpression">
                    <property name="value" class="Integer">{{ step.element_finders.row_value }}</property>
                  </property>
                </property>
      {% elif step.element_finders.row_type == "by_header" %} <property name="rowId"
                  class="ByHeaderExcelRowId">
                  <property name="headerPattern"
                    class="kapow.robot.plugin.common.support.expression.stringexpr.PatternValueStringExpression">
                    <property name="value" class="String">{{ step.element_finders.row_value }}</property>
                  </property>
      {% if step.element_finders.row_range_name %} <property name="headerRangeName"
                    class="ElementName">
                    <property name="name" class="String">{{ step.element_finders.row_range_name }}</property>
                  </property>
      {% endif %} </property> {% endif %} </property>
            </property> {% elif
      step.element_finders.type == "named_range" %} <property name="detail"
              class="NamedRangeCellFinderDetail"> {% if step.element_finders.range_name %} <property
                name="rangeName" class="ElementName">
                <property name="name" class="String">{{ step.element_finders.range_name }}</property>
              </property>
      {% endif %} <property name="usage" class="CellFromRange"> {% if
      step.element_finders.column_type == "by_index" %} <property name="columnId"
                  class="ByIndexExcelColumnId">
                  <property name="offset"
                    class="kapow.robot.plugin.common.support.expression.integerexpr.ValueIntegerExpression">
                    <property name="value" class="Integer">{{ step.element_finders.column_value }}</property>
                  </property>
                </property>
      {% elif step.element_finders.column_type == "by_header" %} <property name="columnId"
                  class="ByHeaderExcelColumnId">
                  <property name="headerPattern"
                    class="kapow.robot.plugin.common.support.expression.stringexpr.PatternValueStringExpression">
                    <property name="value" class="String">{{ step.element_finders.column_value }}</property>
                  </property>
                </property>
      {% endif %} {% if step.element_finders.row_type == "by_index" %} <property name="rowId"
                  class="ByIndexExcelRowId">
                  <property name="offset"
                    class="kapow.robot.plugin.common.support.expression.integerexpr.ValueIntegerExpression">
                    <property name="value" class="Integer">{{ step.element_finders.row_value }}</property>
                  </property>
                </property>
      {% elif step.element_finders.row_type == "by_header" %} <property name="rowId"
                  class="ByHeaderExcelRowId">
                  <property name="headerPattern"
                    class="kapow.robot.plugin.common.support.expression.stringexpr.PatternValueStringExpression">
                    <property name="value" class="String">{{ step.element_finders.row_value }}</property>
                  </property>
      {% if step.element_finders.row_range_name %} <property name="headerRangeName"
                    class="ElementName">
                    <property name="name" class="String">{{ step.element_finders.row_range_name }}</property>
                  </property>
      {% endif %} </property> {% endif %} </property>
            </property> {% endif %} </object>
        </property>

        <property name="errorHandler" class="ErrorHandler" serializationversion="0" />
        <property name="comment">
          <null />
        </property>
        <property name="enabled" class="Boolean">{{ step.enabled | lower }}</property>
        <property name="changedProperties" class="java.util.HashSet" />
      </object> {% endif %}
      {% if step.class == "Try" %} <object class="Try" id="{{ step.id }}">
        <property name="name" class="String">{{ step.name }}</property>
        <property name="comment" class="String">{{ step.comment }}</property>
      </object> {%
      endif %} {% if step.class == "BranchPoint" %} <object class="BranchPoint" id="{{ step.id }}" />
      {% endif %} {% if step.step_action is defined and step.step_action.class == "QueryDatabase2"
      %} <object class="Transition" serializationversion="3" id="{{ step.id }}">
        <property name="name" class="String">{{ step.name }}</property>
        <property name="stepAction" class="QueryDatabase2" serializationversion="2">
          <property name="databaseName"
            class="kapow.robot.plugin.common.support.expression.stringexpr.DBNameValueStringExpression">
            <property name="value" class="kapow.util.db.DBName"> {% if
      step.step_action.database.idref %} <property name="name"
                idref="{{ step.step_action.database.idref }}" /> {% else %} <property name="name"
                class="String">{{ step.step_action.database.name }}</property> {% endif %} </property>
          </property>
          <property name="sql" class="String">{{ step.step_action.sql }}</property>
          <property name="columnAttributeMappings"
            class="kapow.robot.plugin.common.support.database.ColumnAttributeMappings"> {% for
      mapping in step.step_action.mappings %} <object
              class="kapow.robot.plugin.common.support.database.ColumnAttributeMapping">
              <property name="columnName" class="String">{{ mapping.column }}</property>
              <property name="attributeName"
                class="kapow.robot.plugin.common.support.AttributeName2"> {% if mapping.idref %} <property
                  name="name" idref="{{ mapping.idref }}" /> {% else %} <property name="name"
                  class="String">{{ mapping.name }}</property> {% endif %} </property>
            </object>
      {% endfor %} </property>
        </property>
        <property name="elementFinders" class="ElementFinders" />
        <property name="errorHandler" class="ErrorHandler" serializationversion="0">
          <property name="changedProperties" class="java.util.HashSet">
            <element class="String">reportingViaAPI</element>
            <element class="String">reportingViaLog</element>
          </property>
          <property name="reportingViaAPI" class="Boolean">false</property>
          <property name="reportingViaLog" class="Boolean">false</property>
        </property>
        <property name="comment">
          <null />
        </property>
        <property name="enabled" class="Boolean">true</property>
        <property name="changedProperties" class="java.util.HashSet" />
      </object> {% endif %}
      {% if step.step_action is defined and step.step_action.class == "LoadFile" %} <object
        class="Transition" serializationversion="3" id="{{ step.id }}">
        <property name="stepAction" class="LoadFile">
          <property name="fileNameExpression"
            class="kapow.robot.plugin.common.support.expression.multipletype.VariableExpression"
            serializationversion="2">
            <property name="variable" class="kapow.robot.plugin.common.support.AttributeName2">
              <property name="name" class="String">{{ step.step_action.fileNameExpression }}</property>
            </property>
          </property>
          <property name="output"
            class="kapow.robot.plugin.common.stateprocessor.rest.ToVariableOutputSpecification"
            serializationversion="1">
            <property name="variable" class="kapow.robot.plugin.common.support.AttributeName2">
              <property name="name" class="String">{{ step.step_action.output }}</property>
            </property>
          </property>
          <property name="browserConfigurationSpecification"
            class="BrowserConfigurationSpecificationWebKit" serializationversion="27">
            <property name="ancestorProvider"
              class="BrowserConfigurationSpecificationAncestorProviderForStep" />
          </property>
        </property>
      </object>
      {% endif %} {% endfor %} </steps>

    <blockEndStep class="BlockEndStep" />
    <edges class="ArrayList"> {% for edge in edges %} <object class="TransitionEdge">
        <from idref="{{ edge.from }}" />
        <to idref="{{ edge.to }}" />
        <name />
        <comment />
      </object> {% endfor %} </edges>
  </property>

  <property name="browserConfigurationSpecification" class="BrowserConfigurationSpecificationWebKit"
    serializationversion="27" />
</object>
{% macro converter(var) %}
<property name="variable" class="kapow.robot.plugin.common.support.AttributeName2"> {% if var.idref
  %} <property name="name" idref="{{ var.idref }}" /> {% else %} <property name="name"
    class="String">{{ var.name }}</property> {% endif %} </property>
{% endmacro %}